
body, h1, h2, h3, h4, h5, .btn, .job-meta, .app-jumbotron, p.lead {

}

p, ul, li  {
    font-size: 18px;
}


.app {
    line-height: 1.8;
}

.app-content {
    padding: 1em;
}

.app-jumbotron {
    /* background: url('https://images.unsplash.com/photo-1460794418188-1bb7dba2720d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2bfe8be765e57893fa314522a14050c&auto=format&fit=crop&w=1950&q=80') no-repeat;
    background-size: cover; */
}

.btn {
    font-weight: bold;
}

.btn.btn-primary {
    background: blue;
    border-color: blue;
}

.card {
    margin-bottom: 1em;
}

nav {
    border-bottom: 2px solid blue !important;
}

.app-search-input {
    width: 360px !important;
}

.app-email {
    margin: 1em;
    border-color: transparent;
    background: #e6f0ff;
}

.app-category {
    text-align: center;
    padding: 0.75em;
    margin: 0.25em;
    text-transform: capitalize;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.app-category:hover {
    background: #e6f0ff;
    border: transparent;
}

.app-category.selected {
    background: blue;
    color: white;
}

.job-list-item {
    cursor: pointer;
    padding: 1em;
    border-radius: 5px;
    transition: background 0.12s ease-out;
}

.app-jumbotron-typing,
.job-list-item:hover .job-title {
    color: blue;
    font-weight: bold;
}

.job-list-item-apply {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.job-list-item:hover .job-list-item-apply {
    opacity: 1;
}


.job-title {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
}
.job-title-expanded {
    color: blue;
    font-size: 3em;
    padding-top: 1em;
}

.job-title-lead, 
.job-list-lead {
    font-size: 2em;
}

.job-list-lead {
    padding: 1em 0;
    border-bottom: 1px solid #ddd;
    line-height: 1;
}
.job-list-lead .title {
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
}
.job-list-lead .reset {
    font-size: 17px;
    color: blue;
    text-decoration: underline;
}
.job-list-lead .count,
.job-list-lead .term,
.app-email .term,
.job-company {
    font-weight: bold;
}
.job-list-lead .term,
.app-email .term {
    color: blue;
    text-decoration: underline;
}

.job-company {
    color: black;
}

.job-sidebar {
    padding-top: 1em;
}

.job-tag {
    font-size: 1em;
    margin: 0.3em;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0.3em 1em;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: all 0.2s ease-out;
}

.job-tag:hover {
    color: blue;
    border-color: blue;
    border-radius: 30px;
}

.job-apply-button {
    background: blue;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-out;
    font-weight: bold;
    font-size: 1.2em;
}
.job-apply-button:hover {
    background: #36AAEB;
}

.job-description ul {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.job-description br {
    display: none;
}

.job-description h1,
.job-description h2,
.job-description h3,
.job-description h4 {
    font-size: 1.3em;
}



.muted {
    color: #6c718a;
    font-weight: 100;
}



.paginate ul {
    display: inline-block;
}

.paginate li {
    display: inline-block;
    padding: 0.5em;
}

.paginate .break a {
    cursor: default;
}

.footer {
    background: url('data:image/svg+xml;base64,PHN2ZyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB2aWV3Q…kiPjwvcGF0aD4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+') no-repeat;
    background-size: cover;
    height: 300px;
}